@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ViewData["Title"] = "Tate Gillespie's Website";
    ViewData["CSS"] = "css/style.css";
    ViewData["GradeCalculator"] = "js/gradecalculator.js";
}


<!--Basice information about me along with the picture-->
<h1>Tate Gillespie</h1>
<img src="img/tate.jpeg" id="picTate" height="300" width="500" />
<p>From the IS 413 class I hope to gain the ability to build full-scale web applications to pull, display, and manipulate API data. I will be able to perform machine learning algorithms in these applications and hopefully know enough to create an app to start a business.</p>
<br />
<p>Top 3 jobs</p>
<ol>
    <li>Software Engineer</li>
    <li>Data Scientist/Machine Learning Specialist</li>
    <li>Businees Intelligence Analyst</li>
</ol>

